input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 80px;
}

table {
  margin:1em auto;
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  height:30px;
  width:30px;
  border:1px solid;
  text-align:center;
}

div {
  position: relative;
  top: 40px;
  left: 835px;
}

#blue {
  color: blue;
}


.squares, .answeredSquares {
  border: none;
  text-align: center;
  display: flex;
  -moz-appearance: textfield;
  background-color: transparent;
  width: 100%;

}

td:hover {
  background-color: lightblue;
}

/* style every <td> element with a left border that is the first child of its parent (<tr>): */
td:first-child { 
  border-left:solid;
}
/* Similar to above, starting from n=0 with right border */
td:nth-child(3n) {
  border-right:solid ;
}
/* Same again but for horizontal lines */
tr:first-child {
  border-top:solid;
}
tr:nth-child(3n) td {
  border-bottom:solid ;
}
