<!DOCTYPE html>

<html>
    <title>
        Sudoku!
    </title>

    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">

    <body>
        <h1>Welcome to Sudoku!</h1>
        
        <hr>
    
        <form method="POST">
            <table>
                <tbody>
                    {% for j in range(9) %}
                        <tr>
                            {% for i in range(9): %}
                                {% if game.grid[j][i] == "": %}
                                    <td>
                                        <input type="number" class = "squares" name = "{{ j }}/{{ i }}" min="1" max="9">
                                    </td>
                                {% elif game.rawGrid[j][i] == "": %}
                                    <td>
                                        <input type="number" class="answeredSquares" id = "blue" name="{{ j }}/{{ i }}" min="1" max="9" value= "{{ game.grid[j][i] }}">
                                    </td>
                                {% else: %}
                                    <td>
                                        <b>{{ game.grid[j][i] }}</b>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}    
                </tbody>
            </table>

            <hr>

            <div class = complete>
                <input type="submit" id = "checker" value="Submit" />
            </div>
        
        </form>

        <div class = result>
            <hr>
            {% if game.madeMistake(): %}
                <h2 class = mistake>You've made a mistake!</h2>
            {% elif game.complete %}
                <h2 class = congrats>You've completed puzzle {{ game.id }}!!</h2>
            {% endif %}
        </div>

        
    </body>
</html>