<!DOCTYPE html>

<html>
    <title>
        Sudoku!
    </title>

    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">

    <body>
        <h1>Welcome to Sudoku!</h1>

        <table style="width:100%">
            <tbody>
                <tr>
                    {% for i in range(9): %}
                        <td> {{ grid[0][i] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(9): %}
                        <td> {{ grid[1][i] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(9): %}
                        <td> {{ grid[2][i] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(9): %}
                        <td> {{ grid[3][i] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(9): %}
                        <td> {{ grid[4][i] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(9): %}
                        <td> {{ grid[5][i] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(9): %}
                        <td> {{ grid[6][i] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(9): %}
                        <td> {{ grid[7][i] }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for i in range(9): %}
                        <td> {{ grid[8][i] }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </body>
</html>