<!DOCTYPE html>

<html>
    <title>
        Sudoku!
    </title>

    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='style.css') }}">

    <body>
        <h1>Welcome to Sudoku!</h1>

        <table>
            <tbody>
                {% for j in range(9) %}
                    <tr>
                        {% for i in range(9): %}
                            {% if grid[j][i] == "": %}
                                <td>
                                    <input type="number" min="1" max="9">
                                </td>
                            {% else: %}
                                <td>
                                    <b>{{ grid[j][i] }}</b>
                                </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </body>
</html>